#!/usr/bin/make -f

build:

INSTALLATION_DIRECTORY = debian/kvalobs-model-populate

install: build
	python3 setup.py install --prefix=/usr --root=debian/tmp --no-compile -O0 

binary:	binary-arch binary-indep
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_install
	dh_python3 -p kvalobs-model-populate .
	dh_installcron
	dh_installman share/man/man1/kvalobs_model_populate.1
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_compress
	dh_md5sums
	dh_builddeb

mandir = debian/tmp/usr/share/man/man1/

binary-arch:

binary-indep: install

clean:
	rm -rf build
	rm -f build_stamp